<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Determinantes</title>
</head>
<body>
  <h1>Ubicacion del Ganado</h1>
  <p>Ingrese latitud</p>
  <input type="text" placeholder="Latitud" style="margin-top: -20px;">
  <br><br>
  <p>Ingrese longitud</p>
  <input type="text" placeholder="Longitud" style="margin-top: -20px;">
  <br><br>
  <p>Cedula / ID del propietario</p>
  <input type="text" placeholder="Numero identificacion" style="margin-top: -20px;">
  <br>
  <br>
  <button routerLink="/ubicacion-g">Consultar</button>
  <hr>
  <br>
  <br>



  <h1>Zona de Deforestacion</h1>
  <p>Ingrese latitud</p>
  <input type="text" placeholder="Latitud" style="margin-top: -20px;">
  <br><br>
  <p>Ingrese longitud</p>
  <input type="text" placeholder="Longitud" style="margin-top: -20px;">
  <br>
  <br>
  <button routerLink="/zona">Consultar</button>
  <hr>


</body>
</html>
